$body-bg: #1a1a1a;
$body-color: #fff;
$bs-body-font-weight: 600;
$secondary: #0e312c;
$primary: #fff;
$success: #ff9143;
$light: #e5e6eb;
$dark: #262a2c;
$black: #131313;
$bs-emphasis-color-rgb: $body-color;

nav a.router-link-exact-active {
  color: $success;
  text-decoration: underline;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
  text-decoration: none;
  color: $primary;
}

a {
  font-weight: 600;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 26px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'roboto';
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;

  font-weight: normal;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

nav {
  margin: 0;
}




@import 'node_modules/bootstrap/scss/bootstrap.scss';
