
$body-bg: #1A1A1A;
$body-color: #FFF;
$bs-body-font-weight: 600;
$secondary: #0E312C;
$primary: #FFF;
$success: #FF9143;
$light: #E5E6EB;
$dark: #262A2C;
$bs-emphasis-color-rgb: $body-color;

nav a.router-link-exact-active {
  color: $success;
  text-decoration: underline;
}


nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
  text-decoration: none;
  color: $primary;
  
}

a {
  font-weight: 600;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';

